In [105]:
import pandas as pd

In [106]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [107]:
pd.set_option('precision', 6)

In [108]:
print(data.shape)

(32561, 15)

In [109]:
print(data.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [126]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [111]:
#print(data.info())

In [112]:
#data.describe()

In [113]:
#Сколько женщин (признак sex) представлено в этом наборе данных?
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [114]:
#Каков средний возраст (признак age) женщин?
data[data['sex'] == 'Female'].mean()

age                   36.858230
fnlwgt            185746.311206
education-num         10.035744
capital-gain         568.410547
capital-loss          61.187633
hours-per-week        36.410361
dtype: float64

In [115]:
#Какова доля граждан Германии (признак native-country) в процентах?
data['native-country'].value_counts(normalize=True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Trinadad&Tobago               0.000584
Cambodia                      0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

In [116]:
#Каковы средние и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary)? *
print(data[data['salary'] == '>50K']['age'].mean())
print(data[data['salary'] == '>50K']['age'].std())

44.24984058155847
10.51902771985177

In [117]:
#Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает менее 50K в год (признак salary)? 
print(data[data['salary'] == '<=50K']['age'].mean())
print(data[data['salary'] == '<=50K']['age'].std())

36.78373786407767
14.020088490824813

In [118]:
#Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? 
#(признак education равен Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)
data[data['salary'] == '>50K']['education'].value_counts(normalize=True)

Bachelors       0.283255
HS-grad         0.213621
Some-college    0.176891
Masters         0.122306
Prof-school     0.053947
Assoc-voc       0.046040
Doctorate       0.039026
Assoc-acdm      0.033797
10th            0.007907
11th            0.007652
7th-8th         0.005101
12th            0.004209
9th             0.003443
5th-6th         0.002041
1st-4th         0.000765
Name: education, dtype: float64

In [119]:
data[data['salary'] == '<=50K']['education'].value_counts()

HS-grad         8826
Some-college    5904
Bachelors       3134
11th            1115
Assoc-voc       1021
10th             871
Assoc-acdm       802
Masters          764
7th-8th          606
9th              487
12th             400
5th-6th          317
1st-4th          162
Prof-school      153
Doctorate        107
Preschool         51
Name: education, dtype: int64

In [122]:
#Каков максимальный возраст мужчин расы Amer-Indian-Eskimo? *
data[(data['sex'] == 'Male') & (data['race'] == 'Amer-Indian-Eskimo')]['age'].max()

82

In [138]:
#Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин 
#(признак marital-status для женатых равен Married-civ-spouse, Married-spouse-absent или Married-AF-spouse)? *
data[(data['marital-status'] == 'Married-civ-spouse') | (data['marital-status'] == 'Married-spouse-absent') | 
     (data['marital-status'] == 'Married-AF-spouse')]['salary'].value_counts(normalize=True)

<=50K    0.56308
>50K     0.43692
Name: salary, dtype: float64

In [139]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

In [141]:
data[(data['marital-status'] == 'Never-married') | (data['marital-status'] == 'Divorced') | 
     (data['marital-status'] == 'Separated') | (data['marital-status'] == 'Widowed')]['salary'].value_counts(normalize=True)

<=50K    0.935546
>50K     0.064454
Name: salary, dtype: float64

In [143]:
data['hours-per-week'].max()

99

In [155]:
data[(data['hours-per-week'] == 99)]['salary'].value_counts()

<=50K    60
>50K     25
Name: salary, dtype: int64

In [151]:
data[(data['hours-per-week'] == 99)]['salary'].value_counts(normalize=True)

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

In [162]:
#Каково среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для Японии? 
data[(data['native-country'] == 'Japan') & (data['salary'] == '<=50K')]['hours-per-week'].mean()

41.0

In [163]:
data[(data['native-country'] == 'Japan') & (data['salary'] == '>50K')]['hours-per-week'].mean()

47.958333333333336